* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: black;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#sim_input_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
}

#sim_title {
    color: azure;
}

#start_sim {
    display: none;
}